.root {
  // background-color: #333744;
  height: 100%;
  .logo {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 24px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #002140;
    overflow: hidden;
    .img {
      // width: 120px;
      border-radius: 4px;
      height: 31px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px 24px 16px 0;
    }
  }
  :global {
    .ant-menu-item:first-child {
      margin-top: 0;
    }
  }
}
